* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
  font-family: "Quicksand", sans-serif;
}

.main {
  height: 100vh;
  width: -webkit-fill-available;
  padding: 30px 20px;
  display: grid;
  grid-template-rows: min-content max-content 1fr max-content;
  grid-template-columns: 1fr;
}

.graph__wrapper {
  background-color: orange;
}

.graph__canvas {
  border: 1px black solid;
}

.error__wrapper {
  height: calc(1rem * 1.15);
}
